.order {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    @media (max-width: 990px) {
        max-width: 100%;
    }
    .container {
        margin-bottom: 150px;
        @media (max-width: 990px) {
            margin-bottom: 50px;
        }
    }
    &::after {
        content: '';
        height: 1px;
        background: #C8102E;
        display: block;
        width: 80%;
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translate(-50%, -50%);
        @media (max-width: 990px) {
            bottom: -30px;
        }
    }
}

.order_stages_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
    @media (max-width: 990px) {
        margin-bottom: 30px;
    }
    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    &::before {
        content: '';
        background: #C4C4C4;
        height: 1px;
        width: 100%;
        position: absolute;
        top: 32%;
        @media (max-width: 768px) {
            display: none;
        }
    }
    .order_stages_box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #fff;
        position: relative;
        z-index: 9;
        width: 200px;
        @media (max-width: 990px) {
            width: auto;
        }
        .num {
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            background: #C4C4C4;
            border-radius: 50%;
            margin-bottom: 15px;
            font: 1.25rem "400";
            @media (max-width: 768px) {
                height: 50px;
                width: 50px;
                font: 1rem "400";
            }
        }
        .text {
            text-align: center;
            font: 1.125rem "400";
            white-space: nowrap;
            @media (max-width: 990px) {
                font: 1rem "400";
            }
            @media (max-width: 768px) {
                font: .95rem "400";
                white-space: normal;
            }
        }
    }
    .active_stages {
        .num {
            background: #C8102E;
        }
    }
}

.order_stages_form {
    display: grid;
    grid-template-columns: 3fr 200px;
    grid-gap: 30px;
    align-items: center;
    @media (max-width: 990px) {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .order_stages_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 50px;
        @media (max-width: 990px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }
    }
    input {
        padding: 12px 30px;
        width: 100%;
        background: #fff;
        border: 0.5px solid #5B5B5B;
        border-radius: 5px;
        box-sizing: border-box;
        appearance: none;
        outline: none;
        font: 1rem "400";
    }
    .input_box {
        display: grid;
        grid-template-columns: 1fr 100px;
        grid-gap: 20px;
    }
    .select_box {
        position: relative;
        &::after {
            content: url(../img/order/order_arr.svg);
            position: absolute;
            right: 12px;
            top: 10px;
            pointer-events: none;
        }
    }
    select {
        padding: 12px 30px;
        width: 100%;
        background: #fff;
        border: 0.5px solid #5B5B5B;
        border-radius: 5px;
        box-sizing: border-box;
        appearance: none;
        outline: none;
        font: 1rem "400";
        color: #646464;
    }
    button {
        font: 1.125rem "300";
        text-align: center;
        color: #fff;
        cursor: pointer;
        appearance: none;
        outline: none;
        border: none;
        background: #C8102E;
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        transition: .2s;
        &:hover {
            background: #a01028;
        }
    }
}

.end_stages {
    display: flex;
    align-items: center;
    justify-content: center;
    &::before {
        display: none;
    }
}

.bug_wrap {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 50px;
    align-items: start;
    @media (max-width: 1200px) {
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.bug_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    .bug_item_box {
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        padding: 20px;
        position: relative;
        align-items: center;
        background: #FFF;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 5px;
        @media (max-width: 1300px) {
            grid-gap: 20px;
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            padding: 15px;
        }
    }
    .order_item_img {
        max-width: 100%;
        height: auto;
        @media (max-width: 768px) {
            grid-column-start: 1;
            grid-column-end: 3;
            margin: 0 auto;
            height: 150px;
            object-fit: contain;
        }
    }
    .select_box_coll {
        position: relative;
        width: 70px;
        input {
            position: relative;
            padding: 5px 10px;
            width: 70px;
            background: #F0F0F0;
            border-radius: 5px;
            box-sizing: border-box;
            appearance: none;
            border: none;
            outline: none;
            font: 1rem "400";
            appearance: none;
            color: #000;
        }
    }
    .title {
        margin-bottom: 10px;
        font: 1.125rem "400";
        @media (max-width: 1400px) {
            font: 1rem "400";
        }
        @media (max-width: 990px) {
            margin-bottom: 5px;
        }
    }
    .item {
        font: 1.125rem "300";
        @media (max-width: 1400px) {
            font: 1rem "300";
        }
    }
    .deleted {
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 768px) {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
}

.bug_all_wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 25px;
    .bug_all_box:first-child {
        .bug_all_item {
            font: 1rem "400";
        }
    }
    .bug_all_box {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bug_all_title {
            font: 1.2rem "400";
            margin-right: 15px;
            @media (max-width: 576px) {
                font: 1rem "400";
            }
        }
        .bug_all_item {
            font: 1.1rem/25px "300";
            text-align: right;
            max-width: 340px;
            @media (max-width: 576px) {
                font: 1rem "300";
            }
        }
    }
    .bug_all_btn {
        font: 1.125rem "300";
        text-align: center;
        color: #fff;
        max-width: 200px;
        cursor: pointer;
        appearance: none;
        outline: none;
        border: none;
        background: #C8102E;
        border-radius: 5px;
        padding: 12px;
        width: 100%;
        box-sizing: border-box;
        transition: .2s;
        margin: 0 auto;
        @media (max-width: 576px) {
            max-width: 100%;
        }
        &:hover {
            background: #a01028;
        }
    }
}

#demo-htmlselect {
    width: 70px!important;
    height: 27px!important;
}

.dd-select {
    width: 70px!important;
    height: 27.78px!important;
}

.dd-options {
    width: 70px!important;
}

.dd-option {
    padding: 5px 10px!important;
}

.dd-pointer-down {
    display: none;
}

.dd-option-image,
.dd-selected-image {
    height: 18px!important;
    width: 18px!important;
    border-radius: 50%;
    position: relative!important;
    top: 2px!important;
}

.dd-selected {
    padding: 3px 10px!important;
}

.dd-select {
    background: #F0F0F0!important;
    border-radius: 5px!important;
    border: none!important;
}